* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: black;
  display: grid;
  place-items: center;
}

.input-box {
  border: 2px solid white;
  background-color: black;
  width: 50vw;
  height: 1.5em;
  color: white;
  font-size: 2em;
}
input[type=text]:focus{
  outline: none;
}